.header {
  color: var(--omrs-color-success);
  display: flex;
  align-items: center;
  margin: 0rem;
  padding: 0.625rem;
  border-bottom: 0.0625rem solid lightgrey;
  fill: var(--omrs-color-success);
  font-size: 1.375rem;
}

.header span {
  padding-right: 0.625rem;
}

.reportButton {
  display: flex;
  justify-content: flex-end;
  margin: 0.625rem;
}

.reportButton > button {
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.625rem;
  padding: 0.625rem;
  border: 0.0625rem solid lightgrey;
}

.inputContainer label {
  padding: 0.125rem 0rem;
  font-weight: 500;
}

.inputContainer input {
  outline: none;
  border: 0.0625rem solid lightgrey;
  padding: 0.625rem;
}
