{
  "extends": [
    "ts-react-important-stuff",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "error",
    "no-var": "error"
  }
}
